body,main,app, #root {
  margin: 0;
  border:0;
  padding:0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(200, 200, 255);
}

.calculator {
  margin-left: auto;
  margin-right: auto;  
  width: 620px;
  border: 2px solid goldenrod;
  background-color: rgba(0, 0, 0, 0.7);
}

.display {
  height: 50px;
  width: 596px;
  text-align: right;
  font-size: 40px;
  box-shadow: 0px 0px 5px 1px black;
  margin: 10px;
}

.keyboard-main {
  margin: 10px;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "clear clear clear clear"
  "nums nums nums oper"
  "nums nums nums oper"
  "nums nums nums oper"
  "nums nums nums oper";
}

.keyboard-clear {
  display: grid;
  grid-area: clear;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  grid-auto-rows: 50px;
  margin-bottom: 2px;
}

.keyboard-digits {
  display: flex;
  flex-wrap: wrap;
  grid-area: nums;
}

.keyboard-op {
  display: grid;
  grid-area: oper;
}

.keyboard-op button {
  width: 80px;
}

.btn {
  height: 50px;
  margin-right: 2px;
  margin-top: 2px;
  flex: 1 0 30%;
  font-size: large;
}